<xwss:SecurityConfiguration mlnns:xwss="http://java.sun.com/xml/ns/xwss/config">
	<xwss:RequireUsernameToken
		passwordDigestRequired="<?passwordDigest(This)?>"
		nonceRequired="<?nonce(This)?>"/>
</xwss:SecurityConfiguration>
