<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE pgml SYSTEM "pgml.dtd">
<pgml description="org.argouml.uml.diagram.static_structure.ui.UMLClassDiagram|127-0-1-1-6a9c588a:1329b0609ba:-8000:0000000000000A35"
      name="Class Diagram"
>
</pgml>
<!--
<pgml description="org.argouml.uml.diagram.use_case.ui.UMLUseCaseDiagram|127-0-1-1-6a9c588a:1329b0609ba:-8000:0000000000000A35"
      name="Use Case Diagram"
>
</pgml>
-->