<?declareXml()?>
<profile>
		<plugin>
			UML 1.4
		</plugin>
		<plugin>
			GoodPractices
		</plugin>
		<plugin>
			CodeGeneration
		</plugin>
		<userDefined>
			<filename>MDSDProfile.xmi</filename>
			<model>
			</model>
		</userDefined>
</profile>